.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 10;
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo{
    display: flex;
}

// Actions
.actions{
    display: flex;
    align-items: center;

    .upload{
        height: 36px;
        min-width: 114px;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .uploadIcon{
            margin-right: 8px;
        }

        &:hover{
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.action-btn{
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    border: 0.5px solid rgba(22, 24, 35, 0.12);
}
