.wrapper{
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.primary{
    background-color: var(--primary);
    color: var(--white);

    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0,0,0, 0.06)), #FE2C55;
    }
}