// Menu wrapper
.menu-list{
    padding: 8px 0;
    width: 224px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    background-color: var(--white);
    border-radius: 8px;

    // Menu item
    .menu-item{
        margin-left: 0;
    }
}

.menu-popper{
    padding-bottom: 8px;
}

.menu-scrollable{
    overflow-y: auto;
}

// Menu items
.menu-item{
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header{
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

// Tooltip
.tooltip{
    padding: 0;
    background-color: transparent;
}

.tooltipArrow{
    width: 2rem;
    height: 1rem;
    margin-top: -1rem !important;
    color: var(--white);
}