.wrapper{

    .content{
        width: 100%;
        overflow: hidden;

        .mediaWrapper{
            display: block;
            position: relative;
            height: 275px;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;

            .video, .image, .text{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .view{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 67px 13px 17px;
            background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);

            .playIcon{
                margin-right: 4px;
            }

            .viewCount{
                color: var(--white);
                font-weight: 600;
                vertical-align: middle;
                font-size: 16px;
            }
        }

        .text{
            color: var(--white);
            padding: 12px 12px;
            overflow-y: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 11;
            overflow: hidden;
            height: 100%;
            width: 100%;
            color: var(--text);
        }

        .desc{
            font-weight: 400;
            padding: 2px 4px 0px;
            height: 28px;
            overflow: hidden;
            box-sizing: content-box;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            cursor: text;
        }
    }
}