@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    --font-family: "IBM Plex Sans", sans-serif;

    //DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
    text-rendering: optimizeSpeed;
    min-height: 100vh;
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

.loading-2 {
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes musicSymbols1 {
    0% {
        opacity: 0;
        transform: translate3d(0.5em, calc(0.2em), 0px) rotate(calc(20deg)) scale(0.6);
    }
    20% {
        opacity: 0.6;
    }
    40% {
        opacity: 1;
        transform: translate3d(0.1em, calc(-0.2em), 0px) rotate(calc(60deg)) scale(1);
    }
    60% {
        transform: translate3d(-0.1em, calc(-0.4em), 0px) rotate(calc(80deg));
    }
    80% {
        opacity: 0.8;
        transform: translate3d(-0.2em, -0.6em, 0px) rotate(100deg);
    }
    100% {
        opacity: 0;
        transform: translate3d(-0.3em, calc(-0.8em), 0px) rotate(calc(120deg));
    }
}

.musicSymbolsIcon1 {
    animation: 2s linear 0s infinite normal none running musicSymbols1;
}

.musicSymbolsIcon2 {
    animation: 2s linear 0s infinite normal none running musicSymbols1;
}

.musicSymbolsIcon3 {
    animation: 2s linear 0s infinite normal none running musicSymbols1;
}

@keyframes slider {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        transform: translate3d(-50%, 0px, 0px);
    }
}

@keyframes slider-2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        transform: translate3d(-150%, 0px, 0px);
    }
}


.sliderSoundText{
    animation: 10s linear 0s infinite normal none running slider;
}

.sliderSoundText-2{
    animation: 5s linear 0s infinite normal none running slider-2;
}