.profileHeader{
    display: flex;

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
}

.postList{
    display: grid;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    .wrapper{
        .item{
            width: 100%;
            height: 324px;
        }
    }
}