.btn{
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 1rem;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}

.active{
    background-color: yellowgreen;
}