.wrapper{
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}

.img{
    width: 250px;
    animation: logo-spin infinite 20s linear;
    margin-bottom: 100px;

    &:hover{
      filter: drop-shadow(0 0 4em #61dafbaa);
    }
}

@keyframes logo-spin {
  0%   {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}