.wrapper{
    width: 100%;
    min-height: 490px;

    .indicator{
        background: rgb(22, 24, 35);
    }

    .tab{
        width: 230px;
        height: 44px;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 25px;
        color: rgba(18, 18, 18, 0.5);
    }

    .selected{
        color: rgb(18, 18, 18);
    }
}