.menu-item{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active{
        color: var(--primary);

        .icon{
            display: none;
        }

        .active-icon{
            display: flex;
        }
    }

    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title{
     margin-left: 10px;
}

.active-icon, .icon{
    display: flex;
}

.active-icon{
    display: none;
}